		@font-face {
			font-family: 'LCdd';
			src: url('./LCdd.TTF');
		}
		
		@font-face {
			font-family: 'hyjt';
			src: url('./hyjt.TTF');
		}
		
		.titleTop {
			width: 100%;
			height: 80px;
			background: url('../img/topbj.png') center;
			background-size: 100% 100%;
			display: flex;
			align-items: center;
		}
		
		.divWrap {
			width: 260px;
			overflow: hidden;
		}
		
		.div {
			display: inline-block;
			white-space: nowrap;
			animation: 40s div linear infinite normal;
			color: #00C0FE;
		}
		
		@keyframes div {
			0% {
				transform: translateX(0px);
				-webkit-transform: translateX(0px);
			}
			100% {
				transform: translateX(-100%);
				-webkit-transform: translateX(-100%);
			}
		}
		
		body,
		html {
			overflow: hidden;
		}
		
		.titleTop .logo {
			width: 254px;
			height: 49px;
			margin-left: 22px;
		}
		
		.gang {
			width: 1px;
			height: 37px;
			background: #123C5A;
			margin-left: 15px;
			margin-right: 20px;
		}
		
		.dingweiName {
			font-size: 20px;
			font-family: 'hyjt';
			font-weight: 400;
			color: #00BAFD;
			margin-left: 14px;
			width: 60px;
		}
		
		.dateBox {
			margin-left:90px;
		}
		
		.dateBox p:first-child {
			font-family: 'LcdD';
			font-size: 26px;
			font-weight: bold;
			color: #00C0FE;
			letter-spacing: 8px
		}
		
		.dateBox p:last-child {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #00C0FE;
		}
		
		.tianqiBox {
			margin-left: 20px;
		}
		
		.tianqiBox p:first-child {
			font-family: 'LcdD';
			font-size: 26px;
			font-weight: bold;
			color: #00C0FE;
		}
		
		.tianqiBox p:last-child {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #00C0FE;
		}
		
		.fengduBox p:first-child {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #00C0FE;
		}
		
		.fengduBox p:last-child {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #00C0FE;
		}
		
		.content {
			display: flex;
			padding: 10px 10px;
		}
		
		.c1 .c1l1 {
			height: 296px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.c1 .c1l2 {
			width: 616px;
			height: 328px;
			background: url('../img/img_bg2.png') no-repeat;
			background-size: 100% 100%;
			margin-top: 20px;
		}
		
		.c2 .c2l3 {
			width: 614px;
			height:506px;
			background: url('../img/img_bg6.png') no-repeat;
			background-size: 100% 100%;
			margin: 0 20px;
		}
		
		.c2 .c2l4 {
			width: 614px;
			height: 317px;
			background: url('../img/img_bg_video.png') no-repeat;
			background-size: 100% 100%;
			margin: 0 auto;
			margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.c1 .c1l3 {
			width: 616px;
			height: 316px;
			background: url('../img/img_bg3.png') no-repeat;
			background-size: 100% 100%;
			margin-top: 20px;
		}
		
		.c3 .c3l1 {
			width: 616px;
			height: 210px;
			background: url('../img/img_bg4.png') no-repeat;
			background-size: 100% 100%;
		}
		
		.c3 .c3l2 {
			width: 616px;
			height: 233px;
			background: url('../img/img_bg5.png') no-repeat;
			background-size: 100% 100%;
			margin-top: 18px;
		}
		
		.syxx {
			width: 100%;
			height: 100%;
			background: url('../img/syxxbj.png') no-repeat;
			background-size: 100% 100%;
		}
		
		.c3 .c3l3 {
			width: 616px;
			height: 242px;
			background: url('../img/img_bg7.png') no-repeat;
			background-size: 100% 100%;
			margin-top: 18px;
		}
		
		.c3l2 .imgbox {
			position: relative;
			width: 260px;
			height: 260px;
			display: block;
			margin: 0 auto;
			margin-top: 39px;
		}
		
		.c3l2 .imgbox .zhongyuan {
			position: absolute;
			width: 170px;
			height: 170px;
			top: 50%;
			left: 50%;
			margin-top: -85px;
			margin-left: -85px;
			animation: hx 5s linear infinite;
		}
		
		.c3l2 .imgbox .zhongyuans {
			position: absolute;
			width: 180px;
			height: 180px;
			top: 50%;
			left: 50%;
			margin-top: -90px;
			margin-left: -90px;
		}
		
		.c3l2 .text1 {
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #FA9F41;
			position: absolute;
			left: 103px;
			top: 8px;
		}
		
		.c3l2 .text2 {
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #41F0FF;
			position: absolute;
			left: 230px;
			top: 78px;
			width: 56px;
		}
		
		.c3l2 .text3 {
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #FEFC65;
			position: absolute;
			left: 205px;
			top: 198px;
			width: 56px;
		}
		
		.c3l2 .text4 {
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #01B9FE;
			position: absolute;
			left: 53px;
			top: 225px;
			width: 56px;
		}
		
		.c3l2 .text5 {
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #CDA0FF;
			position: absolute;
			left: -29px;
			top: 95px;
			width: 56px;
		}
		
		.c3l2 .text1 img {
			position: absolute;
			right: -65px;
			top: -10px;
		}
		
		.c3l2 .text2 img {
			position: absolute;
			right: 30px;
			top: 22px;
		}
		
		.c3l2 .text3 img {
			position: absolute;
			right: 20px;
			top: 20px;
		}
		
		.c3l2 .text4 img {
			position: absolute;
			right: 52px;
			top: -12px;
		}
		
		.c3l2 .text5 img {
			position: absolute;
			right: -4px;
			top: -23px;
		}
		
		.c3l2 .textbox .textboxs {
			width: 120px;
			height: 58px;
			background: rgba(30, 40, 67, .6);
			border-radius: 6px;
			padding-top: 3px;
			padding-left: 8px;
		}
		
		.c3l2 .text1 .textboxs {
			position: absolute;
			left: 122px;
			top: -30px;
		}
		
		.c3l2 .text2 .textboxs {
			position: absolute;
			left: 15px;
			top: 45px;
		}
		
		.c3l2 .text3 .textboxs {
			position: absolute;
			left: 37px;
			top: 24px;
		}
		
		.c3l2 .text4 .textboxs {
			position: absolute;
			left: -157px;
			top: -13px;
		}
		
		.c3l2 .text5 .textboxs {
			position: absolute;
			left: -78px;
			top: -80px;
		}
		
		.c3l2 .textbox .textboxs p:first-child {
			font-size: 24px;
			font-family: 'LcdD';
			font-weight: 400;
			color: #137BF9;
		}
		
		.c3l2 .textbox .textboxs p:last-child {
			font-size: 14px;
			font-weight: 400;
			color: #137BF9;
		}
		
		.c3l2 .imgbox .xiaoyuan {
			position: absolute;
			width: 94px;
			height: 94px;
			top: 50%;
			left: 50%;
			margin-top: -47px;
			margin-left: -47px;
			animation: Zxuanzhuan 6s linear infinite;
		}
		
		.c3l2 .textBox {
			display: flex;
			justify-content: space-around;
			margin-top: 13px;
		}
		
		.c3l2 .textBox>div {
			width: 204px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			background: url('../img/img_bg_shopname.png') no-repeat;
			background-size: 100% 100%;
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #4DFFFF;
		}
		
		.pt16 {
			padding-top: 10px;
		}
		
		.name {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: bold;
			color: #0BAFF1;
			padding-left: 47px;
			position: relative;
		}
		
		.name:after {
			content: "";
			width: 31px;
			height: 11px;
			background: url('../img/img_decorate_title.png') no-repeat;
			background-size: 100% 100%;
			position: absolute;
			left: 12px;
			top: 5px;
		}
		
		.c1l1Box {
			display: flex;
			justify-content: space-between;
			padding: 0 35px;
			margin-top: 35px;
		}
		
		.c1l1Box .imglist>p {
			text-align: center;
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #FFC83A;
		}
		
		.c1l1Box .imglist .imgbox {
			position: relative;
		}
		
		.c1l1Box .imglist .imgbox>p {
			position: absolute;
			top: 18px;
			font-size: 16px;
			font-family: Microsoft YaHei UI;
			font-weight: bold;
			color: #48FCFE;
			width: 100%;
			text-align: center;
		}
		
		.c1l1Box .imglist .imgbox>img {
			display: block;
			margin: 0 auto;
		}
		
		.c3l1 .tab {
			position: absolute;
			right: 10px;
			width: 80px;
			height: 20px;
			display: flex;
		}
		
		.c3l1 .tab>div {
			width: 42px;
			height: 20px;
			border-radius: 10px;
			text-align: center;
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #FEFEFE;
			background: #14171D;
			z-index: 1;
			cursor: pointer;
		}
		
		.c3l1 .tab>div:last-child {
			margin-left: -5px;
		}
		
		.c3l1 .tab>div.active {
			background: #23CCF0;
			z-index: 2;
		}
		
		.tbname {
			width: 70px;
			height: 45px;
			border-radius: 4px;
			background: url('../img/tbimg.png')center no-repeat;
			background-size: 100% 100%;
		}
		
		.tbname p:first-child {
			font-size: 12px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #009BE0;
			text-align: center;
			margin-top: 3px;
		}
		
		.tbname p:last-child {
			font-size: 16px;
			font-family: 'LcdD';
			font-weight: 400;
			color: #01FEFB;
			text-align: center;
		}
		
		.c2l1 {
			width: 780px;
			display: flex;
			margin: 0 auto;
			margin-top: 20px;
			justify-content: space-between;
			padding: 0 20px;
		}
		
		.c2l1 .listbox {
			display: flex;
			align-items: center;
		}
		
		.c2l1 .textbox {
			margin-left: 5px;
		}
		
		.c2l1 .textbox p:nth-child(1) {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #0788FF;
		}
		
		.c2l1 .textbox p:nth-child(2) {
			font-size: 48px;
			font-family: LcdD;
			font-weight: 400;
			color: #5BFFFF;
		}
		
		.c2l1 .textbox p:nth-child(3) {
			font-size: 16px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #3AC3E8;
		}
		
		.c2l2 {
			width: 614px;
			margin: 0 auto;
			height: 475px;
			display: flex;
			align-items: center;
			position: relative;
		}
		
		.c2l2 .zuanList {
			position: absolute;
			z-index: 1;
			animation: float3 8s linear infinite;
		}
		
		@keyframes float3 {
			0% {
				transform: translateY(0%);
			}
			50% {
				transform: translateY(-25%);
			}
			100% {
				transform: translateY(0%);
			}
		}
		
		.c2l2 .zuanList:nth-child(1) {
			top: 126px;
			left: 76px;
		}
		
		.c2l2 .zuanList:nth-child(2) {
			top: 126px;
			left: 376px;
		}
		
		.c2l2 .zuanList:nth-child(3) {
			bottom: 90px;
			left: 240px;
		}
		
		.c2l2 .zuanList .box1 {
			width: 128px;
			height: 60px;
			background: url(../img/zuanshibox.png) 0/100% 100%;
			position: absolute;
			top: -7px;
			left: -35px;
		}
		
		.c2l2 .zuanList .box2 {
			width: 134px;
			height: 60px;
			background: url(../img/zuanshibox.png) 0/100% 100%;
			position: absolute;
			top: -37px;
			left: 90px;
		}
		
		.c2l2 .zuanList:nth-child(2) .box2 {
			width: 155px;
			height: 60px;
			background: url(../img/zuanshibox.png) 0/100% 100%;
			position: absolute;
			top: -37px;
			left: 90px;
		}
		
		.c2l2 .zuanList:nth-child(3) .box1 {
			width: 164px;
			height: 60px;
			background: url(../img/zuanshibox.png) 0/100% 100%;
			position: absolute;
			top: -30px;
			left: -35px;
		}
		
		.c2l2 .zuanList:nth-child(3) .box2 {
			width: 130px;
			height: 60px;
			background: url(../img/zuanshibox.png) 0/100% 100%;
			position: absolute;
			top: 30px;
			left: 90px;
		}
		
		.c2l2 .zuanList .box p:first-child {
			font-size: 14px;
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #26FAF9;
			text-align: center;
			margin-top: 5px;
		}
		
		.c2l2 .zuanList .box p:last-child {
			font-size: 28px;
			font-family: 'LcdD';
			font-weight: bold;
			color: #26FAF9;
			text-align: center;
		}
		
		.rnavtext p {
			font-size: 18px;
			font-family: Source Han Sans CN;
			font-weight: 400;
			color: #1A94FF;
			position: absolute;
			right: 25px;
		}
		
		.rnavtext p:nth-child(2) {
			top: 18px;
		}
		
		.rnavtext p:nth-child(3) {
			top: 85px;
		}
		
		.rnavtext p:nth-child(4) {
			top: 151px;
		}
		
		.rnavtext p:nth-child(5) {
			top: 216px;
		}
		
		.zblistBox {
			position: absolute;
			top: 28px;
			left: 168px;
		}
		
		.zblistBox .zblist {
			font-size: 14px;
			font-family: Source Han Sans CN;
			font-weight: 400;
			color: #167AD6;
			line-height: 16px;
		}
		
		.jcxxBox {
			background: url('../img/img_bg8.png') no-repeat 0/100% 100%;
			height: 241px;
			margin-top: 18px;
		}
		
